.first{
  background-color: rgba(100%,70%,90%,0.9);
  font-family:'Verdana','DeJaVu sans','Sans-Serif';
}

#even{
  color:rgb(0%,0%,100%);
  font-size:34px;
}

.first.second{
  font-size:24px;
}

#steven {
  background-color:#00ff50;
  font-weight:bold;
}