.click {
  background-color:rgb(0%,0%,0%);
  color:rgb(100%,100%,100%);
}

.me{
  background-color:rgb(255,255,0);
}

.click,.me{
  font-size:28px;
  font-family:'Halvetica','Times New Roman','Sans-Serif';
}